#!/usr/bin/python
import sys
import logging
import ConfigParser

logging.basicConfig(stream=sys.stderr)
sys.path.insert(0,"<application directory>/RaspberryParadeFlask")
config = ConfigParser.ConfigParser()
config.read("config.txt")

from routes import app as application
application.secret_key = config.get('main','secretKey')
