<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, height=device-height">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Madison Thermostat</title>
  <style>
  body#page-top {
      background: url(/static/img/{{ backgroundImage }}) no-repeat bottom center scroll; 
  }
  </style>
  
  <!-- Bootstrap Core CSS -->
  <!-- <link href="../static/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="../static/css/bootstrap.css" rel="stylesheet">
  
  <!-- Custom CSS -->
  <link href="../static/css/grayscale.css" rel="stylesheet">
  
  <!-- Custom Fonts -->
  <link href="../static/font-awesome-4.1.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  
  <!-- jquery is kinda overkill, but I doubt anyone besides me will actually use this... -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
  
  <script>
    function setURL(url){
        document.getElementById('iframe').src = url;
    }

    // This will update the current indoor temp as fed from getIndoorTemp.py
    // Refreshes every 5 seconds
    function updateTemp() {
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.ajax({
        url : $SCRIPT_ROOT + "/_liveTemp",
        success : function(result){
            $('#indoorTempDiv').html(result);
        }
    })
    };
    window.setInterval(function(){
      updateTemp()
    }, 5000);

    // Update the target temp every 5 seconds. Changes can be made from another station or through program changes
    function updateTargetTemp() {
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.ajax({
          url : $SCRIPT_ROOT + "/_liveTargetTemp",
          success : function(result){
            $('#targetTempDiv').html(result);
          }
        })
    };
    window.setInterval(function(){
      updateTargetTemp()
    }, 5000);

    // Update the system status ever 10 seconds
    function updateStatus1() {
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.ajax({
          url : $SCRIPT_ROOT + "/_liveStatus1",
          success : function(result){
            $('#StatusSpan1').html(result);
          }
        })
    };
    window.setInterval(function(){
      updateStatus1()
    }, 10000);

    function updateStatus2() {
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.ajax({
          url : $SCRIPT_ROOT + "/_liveStatus2",
          success : function(result){
            $('#StatusSpan2').html(result);
          }
        })
    };
    window.setInterval(function(){
      updateStatus2()
    }, 10000);

    function updateStatus3() {
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.ajax({
          url : $SCRIPT_ROOT + "/_liveStatus3",
          success : function(result){
            $('#StatusSpan3').html(result);
          }
        })
    };
    window.setInterval(function(){
      updateStatus3()
    }, 10000);
    
    // Update the date and time with the server date/time
    function updateTimeDate() {
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      $.ajax({
        url: $SCRIPT_ROOT + "/_timedate",
        success: function(result) {
          $('#timedate').html(result);
        }
      })
    };
    window.setInterval(function() {
      updateTimeDate()
    }, 1000);
    
    // Update the WiFi status every 5 seconds
    function updateWiFiStatus() {
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      $.ajax({
        url: $SCRIPT_ROOT + "/_wifistatus",
        success: function(result) {
          $('#wifistatusimage').attr('src', '../static/img/lime-wifi-32-'+result+'.png');
        }
      })
    };
    window.setInterval(function() {
      updateWiFiStatus()
    }, 5000);
    
    // Update the failed sensor list every 10 minutes
    function updateFailedSensors() {
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      $.ajax({
        url: $SCRIPT_ROOT + "/_failedsensors",
        success: function(result) {
          // Iterate through all failed sensor display objects and remove those that aren't failed any longer
          $('#failedsensorlist>div').each(function(index) {
            objid = $(this).attr('id');
            id = objid.indexOf('failedsensor') != -1 ? objid.substring(12) : '';
            if (id != '') {
              // Search for this id in the list of failed sensors
              found = false;
              for (var key in result) {
                if (key == id) {
                  found = true;
                  break;
                }
              }
              if (!found) {
                // id not found so it is no longer failing. Remove it
                $('#failedsensor'+id).remove();
              }
            }
          });
       
          // Iterate through the failed list and add any sensors to the display that aren't already there
          for (var key in result) {
            obj = $('#failedsensor'+key);
            if (obj.length == 0) {
              // Display element for this sensor doesn't exist
              $('#failedsensorlist').append("<div class='failedsensor' id='failedsensor"+key+"'>"+result[key]+"</div>");
            }
          }
        }
      });
    };
    window.setInterval(function() {
      updateFailedSensors()
    }, 600000);
    
    
  </script>
  
  <script type=text/javascript src="/static/fastclick.js"></script>
  
  <script>
    var currentModeIndex = 0;
    var modes = [];
    var modeSetTimer = null;
    var roomSetTimer = null;
    
    function changeMode() {
      currentModeIndex++;
      if (currentModeIndex >= modes.length) currentModeIndex = 0;
      $('#mode').html(modes[currentModeIndex]);
    }
  </script>
  
  <!-- Makes them fancy buttons go -->
  <script type=text/javascript src="/static/increment.js"></script>
  <script type="text/javascript">
      $('.myIframe').css('height', $(window).height()+'px');
      $('.myIframe').css('width', $(window).width()+'px');
  </script>
  
  <script>
    function reloadPage() {
      $.ajax({
        url: window.location.href,
        headers: {
            "Pragma": "no-cache",
            "Expires": -1,
            "Cache-Control": "no-cache"
        }
      }).done(function () {
        window.location.reload(true);
      });
    }
  
    window.addEventListener("load", function() {
      $('#targetbutton').click(function() {
        if ($('#tempChange').css('visibility') == 'hidden') {
          $('#tempChange').css('visibility','visible');
          $('#targetbutton').css('color','#219ab3').css('border-color','#219ab3');
        } else {
          $('#tempChange').css('visibility','hidden').css('color','#fff').css('border-color','#fff');
          $('#target').val($('#targetbutton').text());
          $('#set-form').submit();
        }
      });
    
      var plus, minus;
  
      plus = document.getElementById('plus');
      minus = document.getElementById('minus');
      mode = document.getElementById('mode');
  
      // Android 2.2 needs FastClick to be instantiated before the other listeners so that the stopImmediatePropagation hack can work.
      FastClick.attach(minus);
      FastClick.attach(plus);
      FastClick.attach(mode);
  
      plus.addEventListener('click', function(event) {
        incrementValue($('#targetbutton'))
      }, false);
  
      minus.addEventListener('click', function(event) {
        decrementValue($('#targetbutton'))
      }, false);
      
      mode.addEventListener('click', function(event) {
        $('#mode').css('border-color','#219ab3').css('color','#219ab3');
        if (modeSetTimer != null) {
          clearTimeout(modeSetTimer);
          modeSetTimer = null;
        }
        changeMode();
        // Start a timer and submit the form in 5 seconds unless button is clicked again
        modeSetTimer = setTimeout(function() {
          $('#mode').css('border-color','#fff').css('color','#fff');   
          $('#desired-mode').val(modes[currentModeIndex]);
          $('#action').val('mode');
          var res = $('#set-form').submit();
        }, 5000);
      }, false);
      
      {% for modeStr in modeList %} 
        modes.push('{{ modeStr }}');
      {% endfor %}
      currentModeIndex = modes.indexOf('{{ targMode }}');
      $('#mode').html(modes[currentModeIndex]);
      
      // When the room selector is changed, wait 5 seconds before committing it
      $(":input[name='target-room-selector']").click(function() {
        selected = $(this).val();
        $('#target-room').val(selected);
        if (roomSetTimer != null) {
          clearTimeout(roomSetTimer);
          roomSetTimer = null;
        }
        roomSetTimer = setTimeout(function() {
          $('#set-form').submit();
        }, 5000);
      });


      // Set a timeout...
      setTimeout(function(){
        // Hide the address bar!
        window.scrollTo(0, 1);
      }, 0);
      
    });
  </script>
</head>

<body id="page-top" data-spy="scroll">
  <form id="set-form" action={{ url_for('main_page') }} method="POST">
    <input type='hidden' id='desired-mode' name='desired-mode' value='{{ targMode }}' />
    <input type='hidden' id='target' name='target' value='{{ targTemp }}' />
    <input type='hidden' id='target-room' name='target-room' value='{{ curRoom[1] }}' />
    <input type='hidden' id='action' name='action' value='' />
  <!-- Intro Header -->
  <section class="intro">
    <div id='currenttemp'>
      <div id='title'>
        indoor temperature
      </div>
      <div id='value'>
        {{curTemp|safe}}
      </div>
      <div id='humidity'>
       indoor humidity {{curHumid|safe}}
      </div>
    </div>
    <div id='settemp'>
      <div id='title'>
        set temp
      </div>
      <div id='button'>
          <div>
            <a style="padding-top: 13px;" class="btn btn-circle page-scroll" id="targetbutton" name="targetbutton">{{targTemp}}</a> 
            <div id='settempmode'>
              cool-to
            </div>
          </div>
          <div id='tempChange'>
            <a style="position: relative; left: -30px; top: 10px" class="temp-btn temp-btn-default tempchange" id="minus">-</a> 
            <a style="position: relative; left: 30px; top: 10px" class="temp-btn temp-btn-default tempchange" id="plus">+</a>
            <p id="activefortitle">Active For:</p>
            <select id='activeforselect' name="run-time">
              <option value="1">1 hour</option>
              <option value="2" selected>2 hours</option>
              <option value="3">3 hours</option>
              <option value="4">4 hours</option>
              <option value="5">5 hours</option>
              <option value="6">6 hours</option>
              <option value="7">7 hours</option>
              <option value="8">8 hours</option>
              <option value="12">12 hours</option>
              <option value="24">24 hours</option>
              <option value="48">48 hours</option>
            </select>
          </div>
      </div>
    </div>
    <div id='setmode'>
      <div id='button'>
        <a style="position: relative; top: 10px" class="temp-btn temp-btn-default" id="mode">Off</a> 
      </div>
    </div>
    <div id='outdoortemp'>
      <div id='title'>
        outdoors
      </div>
      <div id='value'>
        {{ outsideTemp }}&deg;
      </div>
      <div id='value'>
        {{outsideHumid }}%
      </div>
    </div>    
    <div id='sensorselect'>
      <div id='title'>
        sensor selection
      </div>
      <div id='selector'>
        {% for roomStr,roomID,sensorID in roomList %} 
          {% if loop.index-1 != 0 %} 
            {% if roomID == sensorID %}
              {% if roomID == curRoom[1] %}
                <input type='radio' name='target-room-selector' id='room{{ loop.index-1 }}' value={{ roomID }} checked>{{ roomStr }}</input>
              {% else %}
                <input type='radio' name='target-room-selector' id='room{{ loop.index-1 }}' value={{ roomID }} >{{ roomStr }}</input>
              {% endif %} 
            {% endif %} 
          {% endif %}
        {% endfor %}
      </div>
    </div>

    
    <div class="intro-body" style="max-width: 100%; visibility:hidden; height:0px">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="temperature top-row">
              <div class="temperature top-center">
                <p class="upper-p">Active For:</p>
                <select style="color: black;" class="upper-select"
                  name="run-timex">
                  <option value="1">1 hour</option>
                  <option value="2" selected>2 hours</option>
                  <option value="3">3 hours</option>
                  <option value="4">4 hours</option>
                  <option value="5">5 hours</option>
                  <option value="6">6 hours</option>
                  <option value="7">7 hours</option>
                  <option value="8">8 hours</option>
                  <option value="12">12 hours</option>
                  <option value="24">24 hours</option>
                  <option value="48">48 hours</option>
                </select>
              </div>
            </div>
              <div class="top-row">
              <div class="top-center">
                Target Room:<br /> 
                <select style="color: black;" name="target-roomxx"> 
                  {% for roomStr in roomList %} 
                    {% if roomStr==curRoom %}
                      <option style="color: red;" value={{ loop.index }} selected>{{ roomStr }}</option> 
                    {% else %}
                      <option style="color: black;" value={{loop.index}} >{{ roomStr }}</option>
                    {% endif %} 
                  {% endfor %}
                </select>
              </div>
            </div>
              <div class="top-row">
              <div class="top-center">
                  <span id="StatusSpan2">{{ modeString|safe }}</span>
              </div>
              <div class="top-left">
                  <span id="StatusSpan1">{{ stateString }}</span>
              </div>
              <div class="top-right">
                  <span id="StatusSpan3">{{ expString }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div id='wifistatus'>
      <img id='wifistatusimage' src='../static/img/lime-wifi-32-{{ wiFiConnected }}.png' />
    </div>
    <div id='failedsensorlist'>
      {% for roomStr,roomID,sensorID in roomList %} 
        {% if roomID != 0 and roomID != sensorID %}
          <div class='failedsensor' id='failedsensor{{ roomID }}'>
            {{ roomStr }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div id='timedate'>
      {{ currentTimeDate }}
    </div>
    <div id='info'>
      <a onclick="reloadPage(); return false;" >
        <img src='../static/img/info.png' />
      </a>
    </div>
  </footer>
</form>
</body>

</html>
