<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, height=device-height">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Madison Thermostat</title>
  <style>
  #background {
      background: url(/static/img/{{ backgroundImage }}) no-repeat top center scroll; 
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: -1;
      opacity: 0.5;
  }
  </style>
  
  <!-- Bootstrap Core CSS -->
  <!-- <link href="../static/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="../static/css/bootstrap.css" rel="stylesheet">
  
  <!-- Custom CSS -->
  <link href="../static/css/grayscale.css" rel="stylesheet">
  
  <!-- Custom Fonts -->
  <link href="../static/font-awesome-4.1.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  
  <!-- jquery is kinda overkill, but I doubt anyone besides me will actually use this... -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
  
  <script>
    function setURL(url){
        document.getElementById('iframe').src = url;
    }
    
    // This will update the current info. It may change from another station
    function updateInfo() {
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.ajax({
          url : $SCRIPT_ROOT + "/_liveInfo",
          success : function(result){
          json = JSON.parse(result);
            $('#currenttemp>#value').html(json.currentTemp + '&deg');
            $('#targetTempDiv').html(json.targetTemp + '&deg;');
            if (modeSetTimer == null && json.mode != '') { // Not in the process of changing the mode already
              $('#mode').html(json.mode);
              switch(json.mode) {
                case 'Off':
                case 'Fan':
                  $('#settempmode').html('');
                  break;
                case 'Cool':
                  $('#settempmode').html('cool-to');
                  break;
                case 'Heat':
                  $('#settempmode').html('heat-to');
                  break;
              }
            }
            $('#humidity>#humidvalue').html(json.currentHumid + '%');
            $('#outsideTempValue').html(json.outsideTemp);
            $('#outsideHumidValue').html(json.outsideHumid);
          }
        })
    };
    window.setInterval(function(){
      updateInfo()
    }, 5000);

    // Update the date and time with the server date/time
    function updateTimeDate() {
      var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
      var days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
      var now = new Date();
      ampm = 'a';
      hr = now.getHours();
      if (hr > 12) {
        hr = hr - 12;
        ampm = 'p';
      }
      min = now.getMinutes();
      if (min < 10) min = "0"+min;
      
      $('#timedate').html(hr + ":" + min + ampm + ' ' + days[now.getDay()] + ' ' + months[now.getMonth()] + ' ' + now.getDate());
    };
    window.setInterval(function() {
      updateTimeDate()
    }, 1000);
    
    // Update the WiFi status every 10 seconds
    function updateWiFiStatus() {
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      $.ajax({
        url: $SCRIPT_ROOT + "/_wifistatus",
        success: function(result) {
          $('#wifistatusimage').attr('src', '../static/img/lime-wifi-32-'+result+'.png');
        }
      })
    };
    window.setInterval(function() {
      updateWiFiStatus()
    }, 10000);
    
    // Update the failed sensor list every 5 minutes
    function updateFailedSensors() {
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      $.ajax({
        url: $SCRIPT_ROOT + "/_failedsensors",
        success: function(result) {
          // Iterate through all failed sensor display objects and remove those that aren't failed any longer
          $('#failedsensorlist>div').each(function(index) {
            objid = $(this).attr('id');
            id = objid.indexOf('failedsensor') != -1 ? objid.substring(12) : '';
            if (id != '') {
              // Search for this id in the list of failed sensors
              found = false;
              for (var key in result) {
                if (key == id) {
                  found = true;
                  break;
                }
              }
              if (!found) {
                // id not found so it is no longer failing. Remove it
                $('#failedsensor'+id).remove();
              }
            }
          });
       
          // Iterate through the failed list and add any sensors to the display that aren't already there
          for (var key in result) {
            obj = $('#failedsensor'+key);
            if (obj.length == 0) {
              // Display element for this sensor doesn't exist
              $('#failedsensorlist').append("<div class='failedsensor' id='failedsensor"+key+"'  onclick='toggleFailedStatus(\""+key+"\");'><div id='failedsensorname"+key+"'>"+result[key][0]+"</div><div id='failedsensorinfo"+key+"' class='failedsensorinfo'>Last reading: "+result[key][1]+"</div></div>");
            }
          }
        }
      });
    };
    window.setInterval(function() {
      updateFailedSensors()
    }, 20000);

    function updateFailedController() {
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      $.ajax({
        url: $SCRIPT_ROOT + "/_failedcontroller",
        success: function(result) {
          json = JSON.parse(result);
          if (json.state == 'true') {
            $('#failedcontroller').css('visibility','visible');
          } else {
            $('#failedcontroller').css('visibility','hidden');
            $('#failedcontrollerinfo').css('visibility','hidden');
          }
          
          $('#failedcontrollerinfo').html('Last reading: '+json.laststatus);
          
        }
      });
    };
    window.setInterval(function() {
      updateFailedController()
    }, 60000);
    
  </script>
  
  <script type=text/javascript src="/static/fastclick.js"></script>
  
  <script>
    var currentModeIndex = 0;
    var modes = [];
    var modeSetTimer = null;
    var roomSetTimer = null;
    
    function changeMode() {
      currentModeIndex++;
      if (currentModeIndex >= modes.length) currentModeIndex = 0;
      $('#mode').html(modes[currentModeIndex]);
      if (modes[currentModeIndex] == "Off" || modes[currentModeIndex] == 'Fan') {
        // Hide the set temp controls
        $('#settemp').css('visibility','hidden');
      } else {
        $('#settemp').css('visibility','visible');
        switch(modes[currentModeIndex]) {
          case 'Off':
          case 'Fan':
            $('#settempmode').html('');
            break;
          case 'Cool':
            $('#settempmode').html('cool-to');
            break;
          case 'Heat':
            $('#settempmode').html('heat-to');
            break;
        }
      }
    }
  </script>
  
  <!-- Makes them fancy buttons go -->
  <script type=text/javascript src="/static/increment.js"></script>
  <script type="text/javascript">
      $('.myIframe').css('height', $(window).height()+'px');
      $('.myIframe').css('width', $(window).width()+'px');
  </script>
  
  <script>
    function reloadPage() {
      $.ajax({
        url: window.location.href,
        headers: {
            "Pragma": "no-cache",
            "Expires": -1,
            "Cache-Control": "no-cache"
        }
      }).done(function () {
        window.location.reload(true);
      });
    }

    function toggleFailedStatus(sensorID) {
      var container = $('#failedsensorinfo'+sensorID);
      var vis = container.css('visibility');
      if (vis == 'visible') {
        container.css('visibility','hidden');
      } else {
        container.css('visibility','visible');
      }
    }

    function toggleFailedController() {
      var container = $('#failedcontrollerinfo');
      var vis = container.css('visibility');
      if (vis == 'visible') {
        container.css('visibility','hidden');
      } else {
        container.css('visibility','visible');
      }
    }
    
    var tempSetTimeout = null; // Timer to cancel setting the temp if the button isn't pressed
  
    // If after the temp set button is pressed, there hasn't been any activity around setting the temp for
    // 60 seconds, cancel the operation by reloading the page.
    function resetTempSetTimeout() {
      if (tempSetTimeout != null) clearTimeout(tempSetTimeout);
			tempSetTimeout = setTimeout(function() {
			  reloadPage();
			}, 60000);
		}
    
    window.addEventListener("load", function() {
      $('#targetbutton').click(function() {
        if ($('#tempChange').css('visibility') == 'hidden') {
          $('#tempChange').css('visibility','visible');
          $('#targetbutton').css('color','#219ab3').css('border-color','#219ab3');
          resetTempSetTimeout(); // Start the temp set timeout
        } else {
          if (tempSetTimeout != null) clearTimeout(tempSetTimeout);  // Stop the timeout timer because we've done something
          $('#tempChange').css('visibility','hidden').css('color','#fff').css('border-color','#fff');
          $('#target').val($('#targetbutton').text());
          $('#set-form').submit();
        }
      });
    
      var plus, minus;
  
      plus = document.getElementById('plus');
      minus = document.getElementById('minus');
      mode = document.getElementById('mode');
  
      // Android 2.2 needs FastClick to be instantiated before the other listeners so that the stopImmediatePropagation hack can work.
      FastClick.attach(minus);
      FastClick.attach(plus);
      FastClick.attach(mode);
  
      plus.addEventListener('click', function(event) {
        incrementValue($('#targetbutton'))
      }, false);
  
      minus.addEventListener('click', function(event) {
        decrementValue($('#targetbutton'))
      }, false);
     
      $('#mode').hover(function(event) {
        $('#mode').css('background-color: #f00');
      },
      function(event) {
        $('#mode').css('background-color: #000');
      });

      mode.addEventListener('click', function(event) {
        $('#mode').css('border-color','#f00').css('color','#f00');
        //$('#mode').css('border-color','#219ab3').css('color','#219ab3');
        if (modeSetTimer != null) {
          clearTimeout(modeSetTimer);
          modeSetTimer = null;
        }
        changeMode();
        // Start a timer and submit the form in 5 seconds unless button is clicked again
        modeSetTimer = setTimeout(function() {
          $('#mode').css('border-color','#fff').css('color','#fff');   
          $('#desired-mode').val(modes[currentModeIndex]);
          $('#action').val('mode');
          var res = $('#set-form').submit();
        }, 5000);
      }, false);
      
      {% for modeStr in modeList %} 
        modes.push('{{ modeStr }}');
      {% endfor %}
      currentModeIndex = modes.indexOf('{{ targMode }}');
      $('#mode').html(modes[currentModeIndex]);
      
      // When the room selector is changed, wait 5 seconds before committing it
      $(":input[name='target-room-selector']").click(function() {
        selected = $(this).val();
        $('#target-room').val(selected);
        if (roomSetTimer != null) {
          clearTimeout(roomSetTimer);
          roomSetTimer = null;
        }
        roomSetTimer = setTimeout(function() {
          $('#set-form').submit();
        }, 5000);
      });


      // Set a timeout...
      setTimeout(function(){
        // Hide the address bar!
        window.scrollTo(0, 1);
      }, 0);
      
    });
  </script>
</head>

<body id="page-top" data-spy="scroll">
  <form id="set-form" action={{ url_for('main_page') }} method="POST">
    <input type='hidden' id='desired-mode' name='desired-mode' value='{{ targMode }}' />
    <input type='hidden' id='target' name='target' value='{{ targTemp }}' />
    <input type='hidden' id='target-room' name='target-room' value='{{ curRoom[0] }}' />
    <input type='hidden' id='action' name='action' value='' />
  <!-- Intro Header -->
  <div class="intro">
    <div id='currenttemp'>
      <div id='title'>
        {{ curRoom[1] }}
      </div>
      <div id='value'>
        {{curTemp|safe}}
      </div>
      <div id='humidity'>
        humidity <span id='humidvalue'>{{curHumid|safe}}</span>
      </div>
    </div>
    <div id='settemp' style='{{ "visibility:hidden" if (modeString == "Off" or modeString == "Fan") else "" }}' >
      <div id='title'>
        set temp
      </div>
      <div id='button'>
          <div>
            <a style="padding-top: 13px;" class="btn btn-circle page-scroll" id="targetbutton" name="targetbutton">{{targTemp}}</a> 
            <div id='settempmode'>
              cool-to
            </div>
          </div>
          <div id='tempChange'>
            <a style="position: relative; left: -30px; top: 10px" class="temp-btn temp-btn-default tempchange" id="minus">-</a> 
            <a style="position: relative; left: 30px; top: 10px" class="temp-btn temp-btn-default tempchange" id="plus">+</a>
            <p id="activefortitle">Active For:</p>
            <select id='activeforselect' name="run-time" onchange="resetTempSetTimeout(); return false; ">
              <option value="1">1 hour</option>
              <option value="2" selected>2 hours</option>
              <option value="3">3 hours</option>
              <option value="4">4 hours</option>
              <option value="5">5 hours</option>
              <option value="6">6 hours</option>
              <option value="7">7 hours</option>
              <option value="8">8 hours</option>
              <option value="12">12 hours</option>
              <option value="24">24 hours</option>
              <option value="48">48 hours</option>
            </select>
          </div>
      </div>
    </div>
    <div id='setmode'>
      <div id='button'>
        <a style="position: relative; top: 10px" class="mode-btn mode-btn-default" id="mode">{{ modeString }}</a> 
      </div>
    </div>
    <div id='outdoortemp'>
      <div id='title'>
        outdoors
      </div>
      <div id='value'>
        <span id='outsideTempValue'>{{ outsideTemp }}</span>&deg;
      </div>
      <div id='value'>
        <span id='outsideHumidValue'>{{outsideHumid }}</span>%
      </div>
    </div>    
    <div id='sensorselect'>
      <div id='title'>
        sensor selection
      </div>
      <div id='selector'>
        {% for roomID, roomStr,sensorID,lastreading,lasttemp in roomList %} 
          {% if roomID != 0 %} 
            {% if roomID == sensorID %}
              {% if roomID == curRoom[0] %}
                <input type='radio' name='target-room-selector' id='room{{ roomID }}' value='{{ roomID }}' checked>{{ roomStr }}<span id='selecttemp{{ roomID }}'> ({{ lasttemp }}&deg;)</span></input>
              {% else %}
                <input type='radio' name='target-room-selector' id='room{{ roomID }}' value='{{ roomID }}' >{{ roomStr }}<span id='selecttemp{{ roomID }}'> ({{ lasttemp }}&deg;)</span></input>
              {% endif %} 
            {% endif %} 
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div id='background'><br /></div>
  <footer>
    <div id='wifistatus'>
      <img id='wifistatusimage' src='../static/img/lime-wifi-32-{{ wiFiConnected }}.png' />
    </div>
    <div id='failedsensorlist'>
      {% for roomID,roomStr, sensorID,lastreading, lasttemp in roomList %} 
        {% if roomID != 0 and roomID != sensorID %}
          <div class='failedsensor' id='failedsensor{{ roomID }}' onclick='toggleFailedStatus("{{ roomID }}"); return false;'>
            <div id='failedsensorname{{ roomID }}'>
              {{ roomStr }}
            </div>
            <div id='failedsensorinfo{{ roomID }}' class='failedsensorinfo'>
              Last reading: {{ lastreading }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div id='failedcontroller' onclick='toggleFailedController(); return false;'>
      Controller
      <div id='failedcontrollerinfo' class='failedcontrollerinfo'>
        Last reading: 
      </div>
    </div>
    <div id='timedate'>
      {{ currentTimeDate }}
    </div>
    <div id='info'>
      <a href='/config' >
        <img src='../static/img/info.png' />
      </a>
    </div>
  </footer>
</form>
</body>

</html>
