<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, height=device-height">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Madison Thermostat</title>
  
  <!-- Bootstrap Core CSS -->
  <!-- <link href="../static/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="../static/css/bootstrap.css" rel="stylesheet">
  
  <!-- Custom CSS -->
  <link href="../static/css/grayscale.css" rel="stylesheet">
  
  <!-- Custom Fonts -->
  <link href="../static/font-awesome-4.1.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  
  <!-- jquery is kinda overkill, but I doubt anyone besides me will actually use this... -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
  
  <script type=text/javascript src="/static/fastclick.js"></script>
  <script src="../static/js/Chart.bundle.min.js" /></script>
  
  <script>
    var sensorChart;
    
    window.addEventListener("load", function() {
      // Set a timeout...
      setTimeout(function(){
        // Hide the address bar!
        window.scrollTo(0, 1);
      }, 0);

      var ctx = $("#sensorchart");
			sensorChart = new Chart(ctx, {
					type: 'bar',
					data: {
							labels: [
							  {% for datetime, count in sensorReadingCounts %}"{{ datetime }}",{% endfor %}
							],
							datasets: [{
									label: 'Readings',
									data: [
    							  {% for datetime, count in sensorReadingCounts %}{{ count }},{% endfor %}
									],
									backgroundColor: [
    							  {% for datetime, count in sensorReadingCounts %}'rgba(75, 192, 192, 0.2)',{% endfor %}
									],
									borderColor: [
    							  {% for datetime, count in sensorReadingCounts %}'rgba(75, 192, 192, 1)',{% endfor %}
									], 
									borderWidth: 1
							}]
					},
					options: {
							scales: {
									yAxes: [{
											ticks: {
													beginAtZero:true
											}
									}]
							}
					}
			});      
    });
    
    function updateSensorReadingData() {
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      $.ajax({
        url : $SCRIPT_ROOT + "/_sensorReadings",
        success : function(result){
          var dates = [];
          var counts = [];
          var barcolors = [];
          var barlines = [];
          for (var key in result) {
            dates.push(key);
            counts.push(result[key]);
            barcolors.push('rgba(75, 192, 192, 0.2)');
            barlines.push('rgba(75, 192, 192, 1)');
          }
          sensorChart.data.labels = dates;
          sensorChart.data.datasets[0].data = counts;
          sensorChart.data.datasets[0].backgroundColor = barcolors;
          sensorChart.data.datasets[0].borderColor = barlines;
          sensorChart.update();
        }
      })
    };
    window.setInterval(function(){
      updateSensorReadingData()
    }, 30000);    
    
  </script>
</head>

<body id="page-top" data-spy="scroll">
  <form id="set-form" action={{ url_for('config_page') }} method="POST">
    <div class="intro">
      Config page<br /><br />
  
      <span style='font-size: 1.2em'>
        <a href='/'>Reload Thermostat</a><br /><br />
        <a href='/config'>Back</a><br /><br />
      </span>
      
      <canvas id='sensorchart' height="200" width='400'></canvas>
      
    </div>  
  </form>
</body>

</html>
